html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  overflow-y: scroll;
}

:root {
  --yellow: rgb(233, 233, 0);
  --black: rgb(26, 25, 25);
  --grey: rgb(51, 51, 51);
  --light-grey: rgb(83, 83, 83);
}
